<script setup>
import {ref, onMounted} from 'vue'
import { useQuarterStore } from '../stores/quarter.js'

const quarter = useQuarterStore();

const now = ref(new Date())

const hourHand = ref(null)
const minuteHand = ref(null)
const secondHand = ref({
  rotation: '0deg'
})
const changedMinute = ref(parseInt(localStorage.getItem('changedMinute')) || 0)

const updateCurrentTime = () => {
  now.value = new Date()
  const newTime = new Date(now.value);
  const currentMinutes = newTime.getMinutes();
  const newMinutes = currentMinutes + changedMinute.value;

  const hoursToAdd = Math.floor(newMinutes / 60);
  newTime.setMinutes(newMinutes % 60);

  if (changedMinute.value < 0) {
    newTime.setHours(newTime.getHours() + hoursToAdd + 1);
  } else {
    newTime.setHours(newTime.getHours() + hoursToAdd);
  }

  now.value = newTime;
}

const rotation = ref(0)

const setClock = () => {
  updateCurrentTime()
  // setRotation(secondHand, now.value.getSeconds() / 60)
  secondHand.value.rotation = (rotation.value += 6) + 'deg'
  setRotation(minuteHand, now.value.getMinutes() / 60)
  setRotation(hourHand, now.value.getHours() / 12)
}

const setSecondHandPosition = () => {
  const milliseconds = now.value.getMilliseconds()
  const seconds = now.value.getSeconds() + milliseconds / 1000
  rotation.value = (seconds / 60) * 360
  secondHand.value.rotation = rotation.value + 'deg'
}

onMounted(() => {
  setClock()
  checkQuarter()
  updateCurrentTime()
  setSecondHandPosition()
})

const setRotation = (element, rotationRatio) => {
  element.value.style.transform = `translate(-50%, -100%) rotate(${rotationRatio * 360}deg)`
}

setInterval(setClock, 1000)

const fourQuarters = ref({
  1: '1st quarter',
  2: '2nd quarter',
  3: 'half',
  4: '4th quarter'
})

const checkQuarter = () => {
  if (now.value.getMinutes() < 15) {
    quarter.quarterValue = fourQuarters.value[1]
  } else if (now.value.getMinutes() < 30) {
    quarter.quarterValue = fourQuarters.value[2]
  } else if (now.value.getMinutes() < 45) {
    quarter.quarterValue = fourQuarters.value[3]
  } else {
    quarter.quarterValue = fourQuarters.value[4]
  }
}

const addMinutes = (minutes) => {
  now.value.setMinutes(now.value.getMinutes() + minutes)
  changedMinute.value = changedMinute.value + minutes
  localStorage.setItem('changedMinute', changedMinute.value.toString())
  checkQuarter()
}

const subtractMinutes = (minutes) => {
  now.value.setMinutes(now.value.getMinutes() - minutes)
  changedMinute.value = changedMinute.value - minutes
  localStorage.setItem('changedMinute', changedMinute.value.toString())
  checkQuarter()
}

</script>

<template>
  <div class="analog-clock">
    <div class="analog-clock__label">{{ quarter.quarterValue }}</div>
    <div class="analog-clock__middle-circle"></div>
    <div ref="hourHand" class="analog-clock__hour-hand"></div>
    <div ref="minuteHand" class="analog-clock__minute-hand"></div>
    <div class="analog-clock__second-hand"></div>
    <div class="analog-clock__buttons">
      <button type="button" @click="addMinutes(5)">+5 minute</button>
      <button type="button" @click="subtractMinutes(10)">-10 minute</button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.analog-clock {
  width: 50vw;
  height: 50vw;
  border: 1vw solid #000000;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  &__label {
    position: absolute;
    left: 50%;
    top: 10%;
    text-align: center;
    transform: translateX(-50%);
  }

  &__buttons {
    position: absolute;
    left: 50%;
    bottom: -40%;
    text-align: center;
    transform: translateX(-50%);
    min-width: 300px;
    @media (min-width: 991px) {
      bottom: -20%;
    }
    @media (min-width: 1025px) {
      bottom: 5%;
    }
    button {
      margin: 0 1rem;
    }
  }

  &__middle-circle {
    width: 4vw;
    height: 0;
    padding-bottom: 4vw;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__hour-hand {
    width: 2vw;
    height: 10vw;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(var(--rotate));
    transform-origin: bottom;
    border-radius: 1vw 1vw 0 0;
  }

  &__minute-hand {
    width: 1vw;
    height: 20vw;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(var(--rotate));
    transform-origin: bottom;
    border-radius: 1vw 1vw 0 0;
  }

  &__second-hand {
    width: 0.5vw;
    height: 22vw;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(v-bind('secondHand.rotation'));
    transition: transform 1s linear;
    transform-origin: bottom;
    border-radius: 1vw 1vw 0 0;
    //animation: rotate 60s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}
</style>
